extends layout

block content
  h1= title

  - let rows = Number(query.rows);
  - let cols = Number(query.cols);

  p Rows: #{query.rows}
  p Columns: #{query.cols}

  if !Number.isInteger(rows) || !Number.isInteger(cols)
    p ERROR: Rows and columns must be integers.

  else if (rows < 3 || rows > 13)
    p ERROR: Rows must be between 3 and 13.

  else if (cols < 3 || cols > 13)
    p ERROR: Columns must be between 3 and 13.

  else
    table#outer
      - for (let i = 0; i < rows; i++) {
        tr#middle
          - for (let j = 0; j < cols; j++) {
            td= i-j
          - }
      - }