extends layout

block content
  h1= title
  p Hello there!

  button(type="button", class="btn btn-info", onclick='faster()') Sample Button

  div#faster Add in extra

  script.
    let value = 1;
    let amount = 2;

    function faster() {
      amount *= 2
      value += amount

      document.getElementById("faster").textContent = `Faster ${value} times ${amount}`;
    }

  a(href="/locations") View Locations Search Results