extends layout

block content
  h1= title

  - let items = theLocations

  .container-fluid 
    .row
      each item in items
        .col-sm-2 
          p Latitude: #{item.latitude}
          p Longitude: #{item.longitude}
          p Climate: #{item.climate}
